* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/assets/flowers.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  margin-bottom: 10px;
  color: #37474f;
}
.tic-tac-toe-container {
  background-color: #eceff1;
  width: 50%;
  margin: 0 auto;
  height: 80vh;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine {
  cursor: pointer;
  text-align: center;
  align-content: center;
  font-size: 4rem; /*1rem is equivalent to 16px */

  background-color: #78909c;
  border: 1px solid #37474f;
}

.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover,
.six:hover,
.seven:hover,
.eight:hover,
.nine:hover {
  background-color: #cfd8dc;
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.one {
  grid-area: one;
}
.two {
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}

.reset-btn {
  background-color: #37474f;
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  color: #cfd8dc;
  margin-top: 10px;
}
.reset:hover {
  background-color: #78909c;
  cursor: pointer;
  color: #37474f;
}
